
.container{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    column-gap: 30px;
}
img{
width: 200px;
height: 200px;
border-radius: 8px;
margin-bottom: 15px;
}
button{
    width: 50px;
    height: auto;
    color: white;
    background-color: blue;
    border: none;
    margin-top: 25px;
    align-items: center;
}
